<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, shrink-to-fit=no" name="viewport">
  <title>TSMS &mdash; Admin</title>

  <link rel="stylesheet" href="../dist/modules/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="../dist/modules/ionicons/css/ionicons.min.css">
  <link rel="stylesheet" href="../dist/modules/fontawesome/web-fonts-with-css/css/fontawesome-all.min.css">
  <link rel="stylesheet" href="../dist/css/demo.css">
  <link rel="stylesheet" href="../dist/css/cssAll.css">
  <link rel="stylesheet" href="../dist/css/font.css">
  <link rel="stylesheet" href="../dist/css/dhJobOrder.css">
  <link rel="stylesheet" href="../dist/css/animate.min.css">
  <link rel="stylesheet" href="../dist/modules/sweetalerts/sweetalert.css">
  <link rel="stylesheet" href="../dist/modules/nice-select/nice-select.css">
  <link rel="stylesheet" href="../dist/modules/tempus-dominus/css/tempusdominus-date.css">
  <link rel="stylesheet" href="../dist/modules/waves/waves.css">
  <link rel="stylesheet" href="../dist/modules/toastr/build/toastr.css">
  <link rel="stylesheet" href="../dist/css/style.css">
  <link rel="shortcut icon" href="../dist/img/tbLogo.png">
</head>
<body>
  <div id="app">
    <div class="main-wrapper">
      <div class="navbar-bg"></div>
      <nav class="navbar navbar-expand-lg main-navbar">
        <form class="form-inline mr-auto">
          <ul class="navbar-nav mr-3">
            <li><a href="#" data-toggle="sidebar" class="nav-link nav-link-lg"><i class="ion ion-navicon-round"></i></a></li>
            <li><a href="#" data-toggle="search" class="nav-link nav-link-lg d-sm-none"><i class="ion ion-search"></i></a></li>
          </ul>
          <div class="search-element">
            <input class="form-control" type="search" placeholder="Search" aria-label="Search">
            <button class="btn" type="submit"><i class="ion ion-search"></i></button>
          </div>
        </form>
        <ul class="navbar-nav navbar-right">
          <li class="dropdown dropdown-list-toggle"><a href="#" data-toggle="dropdown" class="nav-link notification-toggle nav-link-lg beep"><i class="ion ion-ios-bell-outline"></i></a>
            <div class="dropdown-menu dropdown-list dropdown-menu-right">
              <div class="dropdown-header">Notifications
                <div class="float-right">
                  <a href="#">View All</a>
                </div>
              </div>
              <div class="dropdown-list-content">
                <a href="#" class="dropdown-item dropdown-item-unread">
                  <img alt="image" src="../dist/img/avatar/avatar-1.jpeg" class="rounded-circle dropdown-item-img">
                  <div class="dropdown-item-desc">
                    <b>Kusnaedi</b> has moved task <b>Fix bug header</b> to <b>Done</b>
                    <div class="time">10 Hours Ago</div>
                  </div>
                </a>
                <a href="#" class="dropdown-item dropdown-item-unread">
                  <img alt="image" src="../dist/img/avatar/avatar-2.jpeg" class="rounded-circle dropdown-item-img">
                  <div class="dropdown-item-desc">
                    <b>Ujang Maman</b> has moved task <b>Fix bug footer</b> to <b>Progress</b>
                    <div class="time">12 Hours Ago</div>
                  </div>
                </a>
                <a href="#" class="dropdown-item">
                  <img alt="image" src="../dist/img/avatar/avatar-3.jpeg" class="rounded-circle dropdown-item-img">
                  <div class="dropdown-item-desc">
                    <b>Agung Ardiansyah</b> has moved task <b>Fix bug sidebar</b> to <b>Done</b>
                    <div class="time">12 Hours Ago</div>
                  </div>
                </a>
                <a href="#" class="dropdown-item">
                  <img alt="image" src="../dist/img/avatar/avatar-4.jpeg" class="rounded-circle dropdown-item-img">
                  <div class="dropdown-item-desc">
                    <b>Ardian Rahardiansyah</b> has moved task <b>Fix bug navbar</b> to <b>Done</b>
                    <div class="time">16 Hours Ago</div>
                  </div>
                </a>
                <a href="#" class="dropdown-item">
                  <img alt="image" src="../dist/img/avatar/avatar-5.jpeg" class="rounded-circle dropdown-item-img">
                  <div class="dropdown-item-desc">
                    <b>Alfa Zulkarnain</b> has moved task <b>Add logo</b> to <b>Done</b>
                    <div class="time">Yesterday</div>
                  </div>
                </a>
              </div>
            </div>
          </li>
          <li class="dropdown"><a href="#" data-toggle="dropdown" class="nav-link dropdown-toggle nav-link-lg">
            <i class="ion ion-android-person d-lg-none"></i>
            <div class="d-sm-none d-lg-inline-block">Hi, John Carlos Pagaduan</div></a>
            <div class="dropdown-menu dropdown-menu-right">
              <a href="profile.html" class="dropdown-item has-icon waves-effect">
                <i class="ion ion-android-person"></i> Profile
              </a>
              <a href="#" class="dropdown-item has-icon waves-effect">
                <i class="ion ion-log-out"></i> Logout
              </a>
            </div>
          </li>
        </ul>
      </nav>
      <div class="main-sidebar">
        <aside id="sidebar-wrapper">
          <div class="sidebar-brand">
            <a href="admin-dashboard.html">Administrator</a>
          </div>
          <div class="sidebar-user">
            <div class="sidebar-user-picture">
              <img alt="image" src="../dist/img/avatar/avatar-5.jpeg">
            </div>
            <div class="sidebar-user-details">
              <div class="user-name">John Carlos Pagaduan</div>
              <div class="user-role">
                Administrator
              </div>
            </div>
          </div>
          <ul class="sidebar-menu">
            <li class="menu-header">Dashboard</li>
            <li>
              <a class="waves-effect" href="admin-dashboard.html"><i class="ion ion-speedometer"></i><span>Dashboard</span></a>
            </li>
            <li class="menu-header">Main Navigation</li>
            <li>
              <a href="#" class="has-dropdown waves-effect"><i class="fas fa-cog"></i><span>Maintenance</span></a>
              <ul class="menu-dropdown">
                <li><a class="waves-effect" href="general.html"><i class="fas fa-life-ring"></i>Berth</a></li>
                <li><a class="waves-effect" href="components.html"><i class="ion ion-ios-paper"></i> Contracts</a></li>
                <li><a class="waves-effect" href="buttons.html"><i class="ion ion-person"></i> Employee</a></li>
                <li><a class="waves-effect" href="toastr.html"><i class="fas fa-anchor"></i> Equipment</a></li>
                <li><a class="waves-effect" href="general.html"><i class="fas fa-life-ring"></i> Pier</a></li>
                <li><a class="waves-effect" href="position.html"><i class="fas fa-sitemap"></i>Position</a></li>
                <li class="waves-effect"><a href="tugboat.html"><i class="ion ion-android-boat"></i> Tugboat</a></li>
              </ul>
            </li>
            <li class="active">
              <a href="#" class="has-dropdown waves-effect"><i class="fas fa-tasks"></i><span>Transactions</span></a>
              <ul class="menu-dropdown">
                <li><a href="#" class="has-dropdown waves-effect"><i class="ion ion-android-people"></i>Consignee</a>
                  <ul class="menu-dropdown">
                    <li><a class="waves-effect" href="#"><i class="ion ion-ios-paper"></i>Contracts</a></li>
                    <li><a class="waves-effect" href="#"><i class="ion ion-document-text"></i>Requests</a></li>
                  </ul>
                </li>
                <li><a class="waves-effect" href="general.html"><i class="fas fa-ticket-alt"></i>Dispatch Ticket</a></li>
                <li class="active"><a href="#" class="has-dropdown waves-effect"><i class="ion ion-android-boat"></i>Dispatch &amp; Hauling</a>
                  <ul class="menu-dropdown">
                    <li class="active"><a class="waves-effect" href="dhJobOrder.html"><i class="ion ion-ios-list"></i>Job Order</a></li>
                    <li class="inactive"><a class="waves-effect" href="dhScheduling.html"><i class="ion ion-ios-time"></i>Scheduling</a></li>
                    <li class="inactive"><a class="waves-effect" href="teamBuilder.html"><i class="ion ion-ios-people"></i>Team Builder</a></li>
                    <li class="inactive"><a class="waves-effect" href="tugboatAssignment.html"><i class="ion ion-android-boat"></i>Tugboat Assignment</a></li>
                  </ul>
                </li>
                <li><a class="waves-effect" href="buttons.html"><i class="ion ion-ios-list"></i>Invoice</a></li>
                <li><a class="waves-effect" href="toastr.html"><i class="ion ion-clipboard"></i>Job Order</a></li>
                <li><a class="waves-effect" href="buttons.html"><i class="ion ion-cash"></i>Payment &amp; Billing</a></li>
                <li><a class="waves-effect" href="toastr.html"><i class="fas fa-calendar-alt"></i>Schedule</a></li>
              </ul>
            </li>
            <li>
              <a href="#" class="has-dropdown waves-effect"><i class="ion ion-stats-bars"></i><span>Reports</span></a>
              <ul class="menu-dropdown">
                <li><a href="general.html"><i class="fas fa-life-ring"></i>Berth</a></li>
                <li><a href="components.html"><i class="ion ion-ios-paper"></i> Contracts</a></li>
                <li><a href="buttons.html"><i class="ion ion-person"></i> Employee</a></li>
                <li><a href="toastr.html"><i class="fas fa-anchor"></i> Equipment</a></li>
                <li><a href="general.html"><i class="fas fa-life-ring"></i> Pier</a></li>
                <li><a href="position.html"><i class="fas fa-sitemap"></i>Position</a></li>
                <li><a href="toastr.html"><i class="ion ion-android-boat"></i> Tugboat</a></li>
              </ul>
            </li>
            <li>
              <a href="#" class="has-dropdown waves-effect"><i class="fas fa-wrench"></i><span>Utilities</span></a>
              <ul class="menu-dropdown">
                <li><a class="waves-effect" href="contract.html"><i class="ion ion-ios-paper"></i> Contracts</a></li>
              </ul>
            </li>         
          </ul> 
        </aside>
      </div>
      <div class="main-content">
        <section class="section">
          <h1 class="section-header">
            <div>
              Dispatch &amp; Hauling
              <small class="smCat">Job Order</small>
            </div>
          </h1>
          <!-- Job Order -->
          <div class="animated fadeIn jobOrderList">
            <div class="row">
              <div class="col-12">
                <div class="card card-primary">
                  <div class="card-header">
                    <div class="float-left">
                      <div class="dropdown" id="jobOrderChoices">
                        <button class="btn btn-primary dropdown-toggle waves-effect" type="button" id="ddJobOrder" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          Created Job Orders
                        </button>
                        <div class="dropdown-menu text-center" aria-labelledby="ddJobOrder">
                          <a id="createdJO" class="dropdown-item waves-effect active" href="#">Created</a>
                          <a id="pendingJO" class="dropdown-item waves-effect" href="#">Pending</a>
                          <a id="forwardJO" class="dropdown-item waves-effect" href="#">Forwarded</a>
                          <a id="declinedJO" class="dropdown-item waves-effect" href="#">Declined</a>
                        </div>
                      </div>
                    </div>
                    <div class="float-right">
                      <button class="btn btn-primary text-center waves-effect btnAddJO">
                        Add Job Order
                      </button>
                    </div>
                  </div>
                  <div class="card-body">
                    <div class="row">
                      <div class="col-6 col-sm-12 col-lg-6 createdCards">
                        <div class="card card-sm-2 card-primary border-primary">
                          <div class="card-icon">
                            <i class="ion ion-android-boat text-primary"></i>
                          </div>
                          <div class="card-header">
                            <h4 class="text-primary mb-2">Job Order # 4</h4>
                          </div>
                          <div class="card-body">
                            <h5>Consignee Name</h5>
                          </div>
                          <div class="card-footer mt-2">
                            <a href="#" data-toggle="modal" data-target="#moreInfoModal">More Info <i class="ion ion-ios-arrow-right"></i></a>
                            <button class="btn btn-primary btn-sm text-center float-right ml-2 waves-effect" data-toggle="modal" data-target="#forwardModal">Forward</button>
                          </div>
                        </div>
                      </div>
                      <div class="col-12 col-sm-12 col-lg-6 pendingCards">
                        <div class="card card-sm-2 card-primary border-primary">
                          <div class="card-icon">
                            <i class="ion ion-android-boat text-primary"></i>
                          </div>
                          <div class="card-header">
                            <h4 class="text-primary mb-2">Job Order # 17</h4>
                          </div>
                          <div class="card-body">
                            <h5>Consignee Name</h5>
                          </div>
                          <div class="card-footer mt-2">
                            <a href="#" data-toggle="modal" data-target="#moreInfoModal">More Info <i class="ion ion-ios-arrow-right"></i></a>
                            <button class="btn btn-danger btn-sm text-center float-right ml-2 waves-effect btnDeclineJO">Decline</button>
                            <button class="btn btn-primary btn-sm text-center float-right ml-2 waves-effect" data-toggle="modal" data-target="#forwardModal">Forward</button>
                            <button class="btn btn-primary btn-sm text-center float-right waves-effect btnAcceptJO">Accept</button>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="card-footer text-right">
                      <nav class="d-inline-block">
                        <ul class="pagination mb-0">
                          <li class="page-item disabled">
                            <a class="page-link" href="#" tabindex="-1"><i class="ion ion-chevron-left"></i></a>
                          </li>
                          <li class="page-item active"><a class="page-link" href="#">1 <span class="sr-only">(current)</span></a></li>
                          <li class="page-item">
                            <a class="page-link" href="#">2</a>
                          </li>
                          <li class="page-item"><a class="page-link" href="#">3</a></li>
                          <li class="page-item">
                            <a class="page-link" href="#"><i class="ion ion-chevron-right"></i></a>
                          </li>
                        </ul>
                      </nav>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- Add Job Order -->
          <div class="addJobOrder">
            <div class="card card-primary animated zoomIn fast">
              <div class="card-header">
                  <a href="#" class="btnBack btn btn-lg btn-link float-left" data-toggle="tooltip"  title="Back" role="button">
                    <i class="ion-chevron-left"></i>
                  </a>
                  <h4 class="text-center mr-5">Add Job Order</h4>
                </div>
              <div class="card-body">
                <form class="needs-validation" novalidate="">
                  <div class="row">
                    <div class="col-12 col-sm-12 col-lg-6">
                      <div class="form-group">
                        <label for="transacDate">Transaction Date<sup class="text-primary">&#10033;</sup></label>
                        <div class="input-group date" id="transacDate" data-target-input="nearest">
                          <input type="text" class="form-control datetimepicker-input" data-target="#transacDate" placeholder="MM/DD/YYYY" required>
                          <div class="input-group-append" data-target="#transacDate" data-toggle="datetimepicker">
                            <button type="button" class="btn btn-outline-primary waves-effect"><i class="fa fa-calendar"></i></button>
                          </div>
                          <div class="invalid-feedback">
                            Please fill in the Transaction Date.
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-12 col-sm-12 col-lg-6">
                      <div class="form-group">
                        <label for="haulingETA">Estimated Time of Hauling<sup class="text-primary">&#10033;</sup></label>
                        <div class="input-group date" id="haulingETA" data-target-input="nearest">
                          <input type="text" class="form-control datetimepicker-input" data-target="#haulingETA" placeholder="21:00" required>
                          <div class="input-group-append" data-target="#haulingETA" data-toggle="datetimepicker">
                            <button type="button" class="btn btn-outline-primary waves-effect"><i class="fa fa-clock"></i></button>
                          </div>
                          <div class="invalid-feedback">
                            Please fill in the Estimated Time of Hauling.
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row" id="firstRow">
                    <div class="col-12 col-sm-12 col-lg-4">
                      <div class="form-group">
                        <label for="cargoName1">Cargo Name 1<sup class="text-primary">&#10033;</sup></label>
                          <input type="text" class="form-control" id="cargoName1" placeholder="Energy Moon" required>
                          <div class="invalid-feedback">
                            Please fill in the Cargo Name.
                          </div>
                      </div>
                    </div>
                    <div class="col-12 col-sm-12 col-lg-4">
                      <div class="form-group">
                        <label for="cargoWeight1">Cargo Weight 1<sup class="text-primary">&#10033;</sup></label>
                        <div class="input-group">
                          <input  id="cargoWeight1" type="number" class="form-control" placeholder="20" required>
                          <div class="input-group-append">
                            <span class="input-group-text">Tons</span>
                          </div>
                          <div class="invalid-feedback">
                            Please fill in the Cargo Weight.
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-12 col-sm-12 col-lg-4">
                      <div class="form-group">
                        <label for="addGoods1">Goods to be delivered 1<sup class="text-primary">&#10033;</sup></label>
                          <input type="text" class="form-control" id="addGoods1" placeholder="Very Good" required>
                          <div class="invalid-feedback">
                            Please fill in the Estimated Goods to be delivered.
                          </div>
                      </div>
                    </div>
                    <div class="col-12">
                      <div class="float-right">
                        <button type="button" class="btn btn-primary btn-sm text-center waves-effect btnRemoveFields" data-toggle="tooltip" title="Delete Fields">
                          <i class="fas fa-minus"></i>
                        </button>
                        <button type="button" class="btn btn-primary btn-sm text-center waves-effect btnAddFields" data-toggle="tooltip" title="Add Fields">
                          <i class="fas fa-plus"></i>
                        </button>
                      </div>
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="addExDetails">Extra Details</label>
                    <textarea class="form-control" id="addExDetails" rows="5"></textarea>
                  </div>
                  <button class="btn btn-primary float-right waves-effect submitJO">Submit</button>
                </form>
              </div>
            </div>
          </div>
        </section>
      </div>
      <!-- Forward Modal -->
      <div class="modal fade" id="forwardModal" tabindex="-1" role="dialog" aria-labelledby="forwardModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="forwardModalLabel">Forward Job Order</h5>
              <button type="button" class="close modalClose" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body modalBody">
              <div class="card card-sm-2 card-primary border-primary">
                <div class="card-icon">
                  <i class="ion ion-android-boat text-primary"></i>
                </div>
                <div class="card-header">
                  <h4 class="text-primary mb-2">Job Order # 4</h4>
                </div>
                <div class="card-body">
                  <h5>Consignee Name</h5>
                </div>
                <div class="card-footer mt-2">
                  <div class="row">
                    <div class="col-6">
                      <ul class="list-inline">
                        <li class="list-inline-item text-primary"><h6>Date of Transaction : </h6></li>
                        <li class="list-inline-item"><h6>May 4, 2018</h6></li>
                      </ul>
                      <ul class="list-inline">
                        <li class="list-inline-item text-primary"><h6>Estimated Time of Hauling : </h6></li>
                        <li class="list-inline-item"><h6>0730 HRS</h6></li>
                      </ul>
                    </div>
                    <div class="col-6">
                      <ul class="list-inline">
                        <li class="list-inline-item text-primary"><h6>Starting Location : </h6></li>
                        <li class="list-inline-item"><h6>PUP</h6></li>
                      </ul>
                      <ul class="list-inline">
                        <li class="list-inline-item text-primary"><h6>Destination : </h6></li>
                        <li class="list-inline-item"><h6>Pureza</h6></li>
                      </ul>
                      <ul class="list-inline">
                        <li class="list-inline-item text-primary"><h6>Goods to be delivered : </h6></li>
                        <li class="list-inline-item"><h6>Very Good</h6></li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
              <form>
                <div class="form-group">
                  <label>Forward Type<sup class="text-primary">&#10033;</sup></label>
                  <div>
                    <select class="wide">
                      <option value="forwardJO">Forward Job Order</option>
                      <option value="borrowTeam">Borrow Team</option>
                      <option value="borrowTugboat">Borrow Tugboat</option>
                    </select>
                  </div>
                </div><br><br>
                <div class="form-group">
                  <label for="exDetails">Extra Details</label>
                  <textarea class="form-control" id="exDetails" rows="5" placeholder="Message"></textarea>
                </div>
              </form>
            </div>
            <div class="modal-footer">
              <button type="button" class="submitForward btn btn-primary waves-effect">Submit Forward Request</button>
            </div>
          </div>
        </div>
      </div>
      <!-- More Info Modal -->
      <div class="modal animated bounceIn fast customModal" id="moreInfoModal" tabindex="-1" role="dialog" aria-labelledby="moreInfoModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
          <div class="modal-content">
            <div class="modal-header">
              
              <div class="modal-title" id="moreInfoModalLabel"><small>Job Order # 4</small><h4>Consignee Name</h4></div>
              <button type="button" class="mb-1 close modalClose" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body modalBody">
              <div class="row mt-2">
                <div class="col-6">
                  <ul class="list-inline">
                    <li class="list-inline-item text-primary"><h6>Date of Transaction : </h6></li>
                    <li class="list-inline-item"><h6>May 4, 2018</h6></li>
                  </ul>
                  <ul class="list-inline">
                    <li class="list-inline-item text-primary"><h6>Estimated Time of Hauling : </h6></li>
                    <li class="list-inline-item"><h6>0730 HRS</h6></li>
                  </ul>
                </div>
                <div class="col-6">
                  <ul class="list-inline">
                    <li class="list-inline-item text-primary"><h6>Starting Location : </h6></li>
                    <li class="list-inline-item"><h6>PUP</h6></li>
                  </ul>
                  <ul class="list-inline">
                    <li class="list-inline-item text-primary"><h6>Destination : </h6></li>
                    <li class="list-inline-item"><h6>Pureza</h6></li>
                  </ul>
                  <ul class="list-inline">
                    <li class="list-inline-item text-primary"><h6>Goods to be delivered : </h6></li>
                    <li class="list-inline-item"><h6>Very Good</h6></li>
                  </ul>
                </div>
              </div>
              <div class="row">
                <div class="col-12 mt-2 text-center">
                  <div class="text-primary mb-2"><h4>Extra Details</h4></div>
                  <div class="border-primary">
                    <div class="mr-2 ml-2 mt-2 mb-2">
                      <p>
                          When things go wrong, as they sometimes will,
                          When the road you're trudging seems all uphill, <br>
                          When the funds are low and the debts are high, <br>
                          And you want to smile, but you have to sigh, <br>
                          When care is pressing you down a bit- <br>
                          Rest if you must, but don't you quit. <br>
                          Life is queer with its twists and turns, <br>
                          
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script src="../dist/modules/jquery.min.js"></script>
  <script src="../dist/modules/tooltip.js"></script>
  <script src="../dist/modules/popper.js"></script>
  <script src="../dist/modules/nicescroll/jquery.nicescroll.min.js"></script>
  <script src="../dist/modules/nice-select/jquery.nice-select.min.js"></script>
  <script src="../dist/modules/toastr/toastr.js"></script>
  <script src="../dist/modules/sweetalerts/sweetalert.min.js"></script>
  <script src="../dist/modules/waves/waves.js"></script>
  <script src="../dist/modules/scroll-up-bar/dist/scroll-up-bar.min.js"></script>
  <script src="../dist/modules/bootstrap/js/bootstrap.min.js"></script>
  <script src="../dist/modules/moment/moment.js"></script>
  <script src="../dist/modules/tempus-dominus/js/tempusdominus-date.min.js"></script>
  <script src="../dist/js/scripts.js"></script>
  <script src="../dist/js/dhJobOrder.js"></script>
  <script src="../dist/js/demo.js"></script>
</body>
</html>