<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, shrink-to-fit=no" name="viewport">
  <title>TSMS &mdash; Admin</title>

  <link rel="stylesheet" href="../dist/modules/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="../dist/modules/ionicons/css/ionicons.min.css">
  <link rel="stylesheet" href="../dist/modules/fontawesome/web-fonts-with-css/css/fontawesome-all.min.css">
  <link rel="stylesheet" href="../dist/css/demo.css">
  <link rel="stylesheet" href="../dist/css/cssAll.css">
  <link rel="stylesheet" href="../dist/css/font.css">
  <link rel="stylesheet" href="../dist/css/animate.min.css">
  <link rel="stylesheet" href="../dist/css/dispatchHauling.css">
  <link rel="stylesheet" href="../dist/modules/sweetalerts/sweetalert.css">
  <link rel="stylesheet" href="../dist/modules/fullcalendar/fullcalendar.min.css">
  <link rel="stylesheet" href="../dist/modules/waves/waves.css">
  <link rel="stylesheet" href="../dist/modules/toastr/build/toastr.css">
  <link rel="stylesheet" href="../dist/css/style.css">
  <link rel="shortcut icon" href="../dist/img/tbLogo.png">
</head>
<body>
  <div id="app">
    <div class="main-wrapper">
      <div class="navbar-bg"></div>
      <nav class="navbar navbar-expand-lg main-navbar">
        <form class="form-inline mr-auto">
          <ul class="navbar-nav mr-3">
            <li><a href="#" data-toggle="sidebar" class="nav-link nav-link-lg"><i class="ion ion-navicon-round"></i></a></li>
            <li><a href="#" data-toggle="search" class="nav-link nav-link-lg d-sm-none"><i class="ion ion-search"></i></a></li>
          </ul>
          <div class="search-element">
            <input class="form-control" type="search" placeholder="Search" aria-label="Search">
            <button class="btn" type="submit"><i class="ion ion-search"></i></button>
          </div>
        </form>
        <ul class="navbar-nav navbar-right">
          <li class="dropdown dropdown-list-toggle"><a href="#" data-toggle="dropdown" class="nav-link notification-toggle nav-link-lg beep"><i class="ion ion-ios-bell-outline"></i></a>
            <div class="dropdown-menu dropdown-list dropdown-menu-right">
              <div class="dropdown-header">Notifications
                <div class="float-right">
                  <a href="#">View All</a>
                </div>
              </div>
              <div class="dropdown-list-content">
                <a href="#" class="dropdown-item dropdown-item-unread">
                  <img alt="image" src="../dist/img/avatar/avatar-1.jpeg" class="rounded-circle dropdown-item-img">
                  <div class="dropdown-item-desc">
                    <b>Kusnaedi</b> has moved task <b>Fix bug header</b> to <b>Done</b>
                    <div class="time">10 Hours Ago</div>
                  </div>
                </a>
                <a href="#" class="dropdown-item dropdown-item-unread">
                  <img alt="image" src="../dist/img/avatar/avatar-2.jpeg" class="rounded-circle dropdown-item-img">
                  <div class="dropdown-item-desc">
                    <b>Ujang Maman</b> has moved task <b>Fix bug footer</b> to <b>Progress</b>
                    <div class="time">12 Hours Ago</div>
                  </div>
                </a>
                <a href="#" class="dropdown-item">
                  <img alt="image" src="../dist/img/avatar/avatar-3.jpeg" class="rounded-circle dropdown-item-img">
                  <div class="dropdown-item-desc">
                    <b>Agung Ardiansyah</b> has moved task <b>Fix bug sidebar</b> to <b>Done</b>
                    <div class="time">12 Hours Ago</div>
                  </div>
                </a>
                <a href="#" class="dropdown-item">
                  <img alt="image" src="../dist/img/avatar/avatar-4.jpeg" class="rounded-circle dropdown-item-img">
                  <div class="dropdown-item-desc">
                    <b>Ardian Rahardiansyah</b> has moved task <b>Fix bug navbar</b> to <b>Done</b>
                    <div class="time">16 Hours Ago</div>
                  </div>
                </a>
                <a href="#" class="dropdown-item">
                  <img alt="image" src="../dist/img/avatar/avatar-5.jpeg" class="rounded-circle dropdown-item-img">
                  <div class="dropdown-item-desc">
                    <b>Alfa Zulkarnain</b> has moved task <b>Add logo</b> to <b>Done</b>
                    <div class="time">Yesterday</div>
                  </div>
                </a>
              </div>
            </div>
          </li>
          <li class="dropdown"><a href="#" data-toggle="dropdown" class="nav-link dropdown-toggle nav-link-lg">
            <i class="ion ion-android-person d-lg-none"></i>
            <div class="d-sm-none d-lg-inline-block">Hi, John Carlos Pagaduan</div></a>
            <div class="dropdown-menu dropdown-menu-right">
              <a href="profile.html" class="dropdown-item has-icon waves-effect">
                <i class="ion ion-android-person"></i> Profile
              </a>
              <a href="#" class="dropdown-item has-icon waves-effect">
                <i class="ion ion-log-out"></i> Logout
              </a>
            </div>
          </li>
        </ul>
      </nav>
      <div class="main-sidebar">
        <aside id="sidebar-wrapper">
          <div class="sidebar-brand">
            <a href="admin-dashboard.html">Administrator</a>
          </div>
          <div class="sidebar-user">
            <div class="sidebar-user-picture">
              <img alt="image" src="../dist/img/avatar/avatar-5.jpeg">
            </div>
            <div class="sidebar-user-details">
              <div class="user-name">John Carlos Pagaduan</div>
              <div class="user-role">
                Administrator
              </div>
            </div>
          </div>
          <ul class="sidebar-menu">
            <li class="menu-header">Dashboard</li>
            <li>
              <a class="waves-effect" href="admin-dashboard.html"><i class="ion ion-speedometer"></i><span>Dashboard</span></a>
            </li>
            <li class="menu-header">Main Navigation</li>
            <li>
              <a href="#" class="has-dropdown waves-effect"><i class="fas fa-cog"></i><span>Maintenance</span></a>
              <ul class="menu-dropdown">
                <li><a class="waves-effect" href="general.html"><i class="fas fa-life-ring"></i>Berth</a></li>
                <li><a class="waves-effect" href="components.html"><i class="ion ion-ios-paper"></i> Contracts</a></li>
                <li><a class="waves-effect" href="buttons.html"><i class="ion ion-person"></i> Employee</a></li>
                <li><a class="waves-effect" href="toastr.html"><i class="fas fa-anchor"></i> Equipment</a></li>
                <li><a class="waves-effect" href="general.html"><i class="fas fa-life-ring"></i> Pier</a></li>
                <li><a class="waves-effect" href="position.html"><i class="fas fa-sitemap"></i>Position</a></li>
                <li class="waves-effect"><a href="tugboat.html"><i class="ion ion-android-boat"></i> Tugboat</a></li>
              </ul>
            </li>
            <li class="active">
              <a href="#" class="has-dropdown waves-effect"><i class="fas fa-tasks"></i><span>Transactions</span></a>
              <ul class="menu-dropdown">
                <li><a href="#" class="has-dropdown waves-effect"><i class="ion ion-android-people"></i>Consignee</a>
                  <ul class="menu-dropdown">
                    <li><a class="waves-effect" href="#"><i class="ion ion-ios-paper"></i>Contracts</a></li>
                    <li><a class="waves-effect" href="#"><i class="ion ion-document-text"></i>Requests</a></li>
                  </ul>
                </li>
                <li><a class="waves-effect" href="general.html"><i class="fas fa-ticket-alt"></i>Dispatch Ticket</a></li>
                <li class="active"><a class="waves-effect" href="dispatchHauling.html"><i class="ion ion-android-boat"></i>Dispatch &amp; Hauling</a></li>
                <li><a class="waves-effect" href="buttons.html"><i class="ion ion-ios-list"></i>Invoice</a></li>
                <li><a class="waves-effect" href="toastr.html"><i class="ion ion-clipboard"></i>Job Order</a></li>
                <li><a class="waves-effect" href="buttons.html"><i class="ion ion-cash"></i>Payment &amp; Billing</a></li>
                <li><a class="waves-effect" href="toastr.html"><i class="fas fa-calendar-alt"></i>Schedule</a></li>
              </ul>
            </li>
            <li>
              <a href="#" class="has-dropdown waves-effect"><i class="ion ion-stats-bars"></i><span>Reports</span></a>
              <ul class="menu-dropdown">
                <li><a href="general.html"><i class="fas fa-life-ring"></i>Berth</a></li>
                <li><a href="components.html"><i class="ion ion-ios-paper"></i> Contracts</a></li>
                <li><a href="buttons.html"><i class="ion ion-person"></i> Employee</a></li>
                <li><a href="toastr.html"><i class="fas fa-anchor"></i> Equipment</a></li>
                <li><a href="general.html"><i class="fas fa-life-ring"></i> Pier</a></li>
                <li><a href="position.html"><i class="fas fa-sitemap"></i>Position</a></li>
                <li><a href="toastr.html"><i class="ion ion-android-boat"></i> Tugboat</a></li>
              </ul>
            </li>
            <li>
              <a href="#" class="has-dropdown waves-effect"><i class="fas fa-wrench"></i><span>Utilities</span></a>
              <ul class="menu-dropdown">
                <li><a class="waves-effect" href="contract.html"><i class="ion ion-ios-paper"></i> Contracts</a></li>
              </ul>
            </li>
            <li class="menu-header">OTHERS(will be removed)</li>
            <li>
              <a href="#" class="has-dropdown"><i class="ion ion-flag"></i><span>Icons</span></a>
              <ul class="menu-dropdown">
                <li><a class="waves-effect" href="ion-icons.html"><i class="ion ion-ios-circle-outline"></i> Ion Icons</a></li>
                <li><a class="waves-effect" href="fontawesome.html"><i class="ion ion-ios-circle-outline"></i> Font Awesome</a></li>
                <li><a class="waves-effect" href="flag.html"><i class="ion ion-ios-circle-outline"></i> Flag</a></li>
              </ul>
            </li>
            <li>
              <a href="table.html"><i class="ion ion-clipboard"></i><span>Tables</span></a>
            </li>
            <li>
              <a href="chartjs.html"><i class="ion ion-stats-bars"></i><span>Chart.js</span></a>
            </li>
            <li>
              <a href="simple.html"><i class="ion ion-ios-location-outline"></i><span>Google Maps</span></a>
            </li>
            <li>
              <a href="#" class="has-dropdown"><i class="ion ion-ios-copy-outline"></i><span>Examples</span></a>
              <ul class="menu-dropdown">
                <li><a href="login.html"><i class="ion ion-ios-circle-outline"></i> Login</a></li>
                <li><a href="register.html"><i class="ion ion-ios-circle-outline"></i> Register</a></li>
                <li><a href="forgot.html"><i class="ion ion-ios-circle-outline"></i> Forgot Password</a></li>
                <li><a href="reset.html"><i class="ion ion-ios-circle-outline"></i> Reset Password</a></li>
                <li><a href="404.html"><i class="ion ion-ios-circle-outline"></i> 404</a></li>
              </ul>
            </li>

            <li class="menu-header">More</li>
            <li>
              <a href="#" class="has-dropdown"><i class="ion ion-ios-nutrition"></i> Click Me</a>
              <ul class="menu-dropdown">
                <li><a href="#"><i class="ion ion-ios-circle-outline"></i> Menu 1</a></li>
                <li><a href="#" class="has-dropdown"><i class="ion ion-ios-circle-outline"></i> Menu 2</a>
                  <ul class="menu-dropdown">
                    <li><a href="#"><i class="ion ion-ios-circle-outline"></i> Child Menu 1</a></li>
                    <li><a href="#"><i class="ion ion-ios-circle-outline"></i> Child Menu 2</a></li>
                    <li><a href="#" class="has-dropdown"><i class="ion ion-ios-circle-outline"></i> Child Menu 3</a>
                      <ul class="menu-dropdown">
                        <li><a href="#"><i class="ion ion-ios-circle-outline"></i> Child Menu 1</a></li>
                        <li><a href="#"><i class="ion ion-ios-circle-outline"></i> Child Menu 2</a></li>
                        <li><a href="#"><i class="ion ion-ios-circle-outline"></i> Child Menu 3</a></li>
                      </ul>
                    </li>
                    <li><a href="#"><i class="ion ion-ios-circle-outline"></i> Child Menu 4</a></li>
                  </ul>
                </li>
              </ul>
            </li>
            <li>
              <a href="#"><i class="ion ion-heart"></i> Badges <div class="badge badge-primary">10</div></a>
            </li>
            <li>
              <a href="credits.html"><i class="ion ion-ios-information-outline"></i> Credits</a>
            </li>          
          </ul>
        </aside>
      </div>
      <div class="main-content">
        <section class="section">
          <h1 class="section-header">
            <div>
              Dispatch &amp; Hauling
              <button class="btn btn-primary waves-effect ml-3 mb-2 active btnTeamAssign font-weight-bold">Team Assignment</button>
              <button class="btn btn-primary waves-effect ml-3 mb-2 btnCreateSched">Create Schedule</button>
              <button class="btn btn-primary waves-effect ml-3 mb-2 btnTugboatAssign">Tugboat Assignment</button>
            </div>
          </h1>
          <!-- Team Assignment -->
          <div class="teamAssignment animated fadeIn">
            <div class="row">
              <div class="col-lg-5">
                <div class="card">
                  <section class="sectionDark">
                    <div class="container">
                      <h5 class="section-header text-center" style="text-transform: uppercase;">
                        Team List 
                        <button class="float-right btn-sm btn btn-primary waves-effect" data-toggle="modal" data-target="#addTeam" data-tooltip="tooltip" title="Add New Team">
                          <i class="fas fa-plus"></i>
                        </button>
                      </h5>
                    </div>
                    <div class="row">
                      <div class="col mr-3 ml-3">
                        <a href="#">
                        <div class="card">
                          <div class="card-body">
                            <h6 class="float-left mt-2">Team Energy Sun</h6>
                            <button type="button" class="delItem btn btn-sm btn-danger waves-effect waves-circle float-right" data-toggle="tooltip" title="Delete">
                              <i class="miniIcon fas fa-trash"></i>
                            </button> 
                            <button type="button" class="btn btn-sm btn-secondary waves-effect waves-circle float-right mr-2"data-toggle="modal" data-target="#editTeam" data-tooltip="tooltip" title="Edit">
                                <i class="miniIcon ion ion-edit"></i>
                            </button>
                          </div>
                        </div>
                        </a>
                      </div>
                    </div>
                  </section>
                </div>
              </div>
              <div class="col-lg-7">
                <div class="card">
                  <section class="sectionDark">
                    <div class="container">
                      <h5 class="section-header text-center" style="text-transform: uppercase;">
                        Tugboats List  
                      </h5>
                    </div>
                    <div class="container">
                      <div class="card">
                        <div class="card-header bg-success text-white">
                          <div class="float-right">
                            <a data-collapse="#availableTugboat" class="btn btn-icon"><i class="ion ion-minus"></i></a>
                          </div>
                          <h4 class="text-center ml-5">Available</h4>
                        </div>
                        <div class="collapse show" id="availableTugboat">
                          <div class="card-body">
                            <div class="card card-success">
                              <div class="card-header text-center">
                                <h4>Energy Sun</h4>
                              </div>
                              <div class="card-body text-white">
                                <div class="card bg-success">
                                  <div class="card-header" id="dismissTeam">
                                    Team Energy Sun 
                                    <div class="float-right">
                                      <a data-dismiss="#dismissTeam" class="btn btn-icon"><i class="ion ion-close"></i></a>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="card">
                        <div class="card-header bg-info text-white">
                          <div class="float-right">
                            <a data-collapse="#occupiedTugboat" class="btn btn-icon"><i class="ion ion-plus"></i></a>
                          </div>
                          <h4 class="text-center ml-5">Occupied</h4>
                        </div>
                        <div class="collapse hide" id="occupiedTugboat">
                          <div class="card-body">
                            <div class="card card-sm">
                              <div class="card-body text-center">
                                Energy Sun
                              </div>
                              <div class="card-cta">
                                <a href="#">More Info <i class="ion ion-ios-arrow-right"></i></a>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="card">
                        <div class="card-header bg-danger text-white">
                          <div class="float-right">
                            <a data-collapse="#underRepair" class="btn btn-icon"><i class="ion ion-plus"></i></a>
                          </div>
                          <h4 class="text-center ml-5">Under Repair</h4>
                        </div>
                        <div class="collapse hide" id="underRepair">
                          <div class="card-body">
                            <div class="card card-sm">
                              <div class="card-body text-center">
                                Energy Sun
                              </div>
                              <div class="card-cta">
                                <a href="#">More Info <i class="ion ion-ios-arrow-right"></i></a>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </section>
                </div>
              </div>
            </div>
          </div>
          <!-- Create Schedule -->
          <div class="createSched animated fadeIn">
            <section class="content">
              <div class="row">
                <div class="col-md-3">
                  <div class="card card-primary">
                    <div class="card-header with-border">
                      <h4 class="card-title text-center">Draggable Events</h4>
                    </div>
                    <div class="card-body">
                      <!-- the events -->
                      <div id="external-events">
                        <div class="external-event bg-green">Lunch</div>
                        <div class="external-event bg-yellow">Go home</div>
                        <div class="external-event bg-aqua">Do homework</div>
                        <div class="external-event bg-light-blue">Work on UI design</div>
                        <div class="external-event bg-red">Sleep tight</div>
                        <div class="custom-control custom-checkbox">
                          <input type="checkbox" class="custom-control-input" id="drop-remove">
                          <label class="custom-control-label" for="drop-remove">Remove After Drop</label>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="card card-primary">
                    <div class="card-header with-border">
                      <h4 class="card-title text-center">Create Event</h4>
                    </div>
                    <div class="card-body">
                      <div class="btn-group" style="width: 100%; margin-bottom: 10px;">
                        <!--<button type="button" id="color-chooser-btn" class="btn btn-info btn-block dropdown-toggle" data-toggle="dropdown">Color <span class="caret"></span></button>-->
                        <ul class="fc-color-picker" id="color-chooser">
                          <li><a class="text-aqua" href="#"><i class="fa fa-square"></i></a></li>
                          <li><a class="text-blue" href="#"><i class="fa fa-square"></i></a></li>
                          <li><a class="text-light-blue" href="#"><i class="fa fa-square"></i></a></li>
                          <li><a class="text-teal" href="#"><i class="fa fa-square"></i></a></li>
                          <li><a class="text-yellow" href="#"><i class="fa fa-square"></i></a></li>
                          <li><a class="text-orange" href="#"><i class="fa fa-square"></i></a></li>
                          <li><a class="text-green" href="#"><i class="fa fa-square"></i></a></li>
                          <li><a class="text-lime" href="#"><i class="fa fa-square"></i></a></li>
                          <li><a class="text-red" href="#"><i class="fa fa-square"></i></a></li>
                          <li><a class="text-purple" href="#"><i class="fa fa-square"></i></a></li>
                          <li><a class="text-fuchsia" href="#"><i class="fa fa-square"></i></a></li>
                          <li><a class="text-muted" href="#"><i class="fa fa-square"></i></a></li>
                          <li><a class="text-navy" href="#"><i class="fa fa-square"></i></a></li>
                        </ul>
                      </div>
                      <!-- /btn-group -->
                      <div class="input-group mb-3">
                        <input id="new-event" type="text" class="form-control" placeholder="Event Title">
                        <div class="input-group-append">
                            <button id="add-new-event" type="button" class="btn btn-primary waves-effect">Add</button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- /.col -->
                <div class="col-md-9">
                    <div class="card card-primary">
                      <div class="card-body no-padding">
                        <!-- THE CALENDAR -->
                        <div id="calendar"></div>
                      </div>
                    </div>
                  </div>
              </div>
            </section>
          </div>
          <!-- Tugboat Assignment -->
          <div class="tugboatAssignment animated fadeIn">
            <div class="row">
              <div class="col-lg-5">
                <div class="card">
                  <section class="sectionDark">
                    <div class="container">
                      <h5 class="section-header text-center" style="text-transform: uppercase;">
                        Tugboat List 
                        <a href="tugboat.html" class="float-right btn-sm btn btn-primary waves-effect"data-toggle="tooltip" title="Add new Tugboat"><i class="fas fa-plus"></i></a>
                      </h5>
                    </div>
                    <div class="row">
                      <div class="col mr-3 ml-3">
                        <a href="#">
                        <div class="card">
                          <div class="card-header">
                            <h6 class="text-center mt-2">Energy Sun</h6>
                          </div>
                        </div>
                        </a>
                      </div>
                    </div>
                  </section>
                </div>
              </div>
              <div class="col-lg-7">
                <div class="card">
                  <section class="sectionDark">
                    <div class="container">
                      <h5 class="section-header text-center" style="text-transform: uppercase;">
                        Schedule List  
                      </h5>
                    </div>
                    <div class="container">
                      <div class="card">
                        <div class="card-header bg-success text-white">
                          <div class="float-right">
                            <a data-collapse="#availableSched" class="btn btn-icon"><i class="ion ion-minus"></i></a>
                          </div>
                          <h4 class="text-center ml-5">Available</h4>
                        </div>
                        <div class="collapse show" id="availableSched">
                          <div class="card-body">
                            <div class="card card-success">
                              <div class="card-header text-center">
                                <h4>August 24, 2018</h4>
                              </div>
                              <div class="card-body text-white">
                                <div class="card bg-success">
                                  <div class="card-header" id="dismissSched">
                                    Energy Sun
                                    <div class="float-right">
                                      <a data-dismiss="#dismissSched" class="btn btn-icon"><i class="ion ion-close"></i></a>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </section>
                </div>
              </div>
            </div>
          </div>
          
        </section>
      </div>
    </div>
  </div>
    <!-- Add Modal -->
    <div class="modal fade" id="addTeam" tabindex="-1" role="dialog" aria-labelledby="addTeamLabel" aria-hidden="true">
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content sectionDark">
          <div class="modal-header">
            <h4 class="modal-title" id="addTeamLabel">
              TEAM BUILDER
                <small class="smCat">Add Team</small>
            </h4>
            <button type="button" class="close modalClose"aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body modalBody">
            <form class=" mb-3">
                <label for="addTeamName">Team Name<sup class="text-primary">&#10033;</sup></label>
                <input type="text" class="form-control" id="addTeamName" placeholder="Team 1">
            </form>
            <div class="row">
              <div class="col-12">
                <div class="card text-center">
                  <div class="card-header">
                    <div class="float-right">
                      <a data-collapse="#addEmployeeCard" class="btn btn-icon"><i class="ion ion-minus"></i></a>
                    </div>
                    <h5 class="text-center ml-5">Employees</h5>
                  </div>
                  <div class="collapse show" id="addEmployeeCard">
                    <div class="card-body">
                      <div class="row">
                        <div class="col-md-12">
                          <div class="form-group form-inline">
                            <div class="dropdown mr-4" id="addTeamChoices">
                              <button class="btn btn-primary dropdown-toggle waves-effect" type="button" id="addDdChoices" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                All
                              </button>
                              <div class="dropdown-menu" aria-labelledby="addDdChoices">
                                <a id="addDdAll" data-filter="*" class="waves-effect dropdown-item" href="#">All</a>
                                <a id="addDdCapt" data-filter=".addTeamCaptain" class="waves-effect dropdown-item" href="#">Captain</a>
                                <a id="addDdChiefEng" data-filter=".addTeamChiefEng" class="waves-effect dropdown-item" href="#">Chief Engineer</a>
                                <a id="addDdCrew" data-filter=".addTeamCrew" class="waves-effect dropdown-item" href="#">Crew</a>
                              </div>
                            </div>
                            <h6 class="mt-2 mr-2">Filter:<h6 class="mt-2 text-primary" id="addFilterName">All</h6></h6>
                          </div>
                        </div>
                      </div>
                      <div class="row" id="addTeamCard">
                        <div class="addTeamCaptain team-item mr-3 ml-3">
                          <div class="row">
                            <div class="col-auto">
                              <div class="card bg-success">
                                <div class="card-body">
                                  <div class="custom-control custom-checkbox custom-control-inline">
                                    <input type="checkbox" id="addCheckCapt1" class="custom-control-input">
                                    <label class="custom-control-label" for="addCheckCapt1">
                                      <p class="card-text text-center ml-2">Joshua Ganila</p>
                                      <small class="text-center float-right" style="text-transform: uppercase;">
                                        Captain  
                                      </small>
                                    </label>
                                  </div>
                                </div>
                              </div>
                            </div>
                            <div class="col-auto">
                              <div class="card bg-success">
                                <div class="card-body">
                                  <div class="custom-control custom-checkbox custom-control-inline">
                                    <input type="checkbox" id="addCheckCapt2" class="custom-control-input">
                                    <label class="custom-control-label" for="addCheckCapt2">
                                      <p class="card-text text-center ml-2">Levie Anne Mariñas</p>
                                      <small class="text-center float-right" style="text-transform: uppercase;">
                                        Captain  
                                      </small>
                                    </label>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="addTeamChiefEng team-item mr-3 ml-3">
                          <div class="row">
                            <div class="col-auto">
                              <div class="card bg-info">
                                <div class="card-body">
                                  <div class="custom-control custom-checkbox custom-control-inline">
                                    <input type="checkbox" id="addCheckCE1" class="custom-control-input">
                                    <label class="custom-control-label" for="addCheckCE1">
                                      <p class="card-text text-center ml-2">John Carlos Pagaduan</p>
                                      <small class="text-center float-right" style="text-transform: uppercase;">
                                        Chief Engineer  
                                      </small>
                                    </label>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="addTeamCrew team-item  mr-3 ml-3">
                          <div class="row">
                            <div class="col-auto">
                              <div class="card bg-secondary">
                                <div class="card-body">
                                  <div class="custom-control custom-checkbox custom-control-inline">
                                    <input type="checkbox" id="addCheckCrew1" class="custom-control-input">
                                    <label class="custom-control-label" for="addCheckCrew1">
                                      <p class="card-text text-center ml-2">Reign Emmanuel Malto</p>
                                      <small class="text-center float-right" style="text-transform: uppercase;">
                                        Crew  
                                      </small>
                                    </label>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col">
                <div class="card text-center">
                  <div class="card-header">
                    <div class="float-right">
                      <a data-collapse="#addSelectedCard" class="btn btn-icon"><i class="ion ion-minus"></i></a>
                    </div>
                    <h5 class="text-center ml-5">Selected</h5>
                  </div>
                  <div class="collapse show" id="addSelectedCard">
                    <div class="card-body">
                      <div class="row">
                        <div class="col">
                          <div class="card bg-info" id="addDismissCard">
                            <div class="card-header">
                                John Carlos Pagaduan
                              <div class="float-right">
                                <a data-dismiss="#addDismissCard" class="btn btn-icon"><i class="ion ion-close"></i></a>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="submit" class="btn btn-primary waves-effect btnAddTeam">Add</button>
          </div>
        </div>
      </div>
    </div>
    <!-- Edit Modal -->
    <div class="modal fade" id="editTeam" tabindex="-1" role="dialog" aria-labelledby="editTeamLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
          <div class="modal-content sectionDark">
            <div class="modal-header">
              <h4 class="modal-title" id="editTeamLabel">
                TEAM BUILDER
                  <small class="smCat">Edit Team</small>
              </h4>
              <button type="button" class="close modalClose"aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body modalBody">
              <form class=" mb-3">
                  <label for="editTeamName">Team Name<sup class="text-primary">&#10033;</sup></label>
                  <input type="text" class="form-control" id="editTeamName" placeholder="Team 1">
              </form>
              <div class="row">
                <div class="col-12">
                  <div class="card text-center">
                    <div class="card-header">
                      <div class="float-right">
                        <a data-collapse="#editEmployeeCard" class="btn btn-icon"><i class="ion ion-minus"></i></a>
                      </div>
                      <h5 class="text-center ml-5">Employees</h5>
                    </div>
                    <div class="collapse show" id="editEmployeeCard">
                      <div class="card-body">
                        <div class="row">
                          <div class="col-md-12">
                            <div class="form-group form-inline">
                              <div class="dropdown mr-4" id="editTeamChoices">
                                <button class="btn btn-primary dropdown-toggle waves-effect" type="button" id="editDdChoices" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                  All
                                </button>
                                <div class="dropdown-menu" aria-labelledby="editDdChoices">
                                  <a id="editDdAll" data-filter="*" class="waves-effect dropdown-item" href="#">All</a>
                                  <a id="editDdCapt" data-filter=".editTeamCaptain" class="waves-effect dropdown-item" href="#">Captain</a>
                                  <a id="editDdChiefEng" data-filter=".editTeamChiefEng" class="waves-effect dropdown-item" href="#">Chief Engineer</a>
                                  <a id="editDdCrew" data-filter=".editTeamCrew" class="waves-effect dropdown-item" href="#">Crew</a>
                                </div>
                              </div>
                              <h6 class="mt-2 mr-2">Filter:<h6 class="mt-2 text-primary"id="editFilterName">All</h6></h6>
                            </div>
                          </div>
                        </div>
                        <div class="row" id="editTeamCard">
                          <div class="editTeamCaptain team-item mr-3 ml-3">
                            <div class="row">
                              <div class="col-auto">
                                <div class="card bg-success">
                                  <div class="card-body">
                                    <div class="custom-control custom-checkbox custom-control-inline">
                                      <input type="checkbox" id="editCheckCapt1" class="custom-control-input">
                                      <label class="custom-control-label" for="editCheckCapt1">
                                        <p class="card-text text-center ml-2">Joshua Ganila</p>
                                        <small class="text-center float-right" style="text-transform: uppercase;">
                                          Captain  
                                        </small>
                                      </label>
                                    </div>
                                  </div>
                                </div>
                              </div>
                              <div class="col-auto">
                                <div class="card bg-success">
                                  <div class="card-body">
                                    <div class="custom-control custom-checkbox custom-control-inline">
                                      <input type="checkbox" id="editCheckCapt2" class="custom-control-input">
                                      <label class="custom-control-label" for="editCheckCapt2">
                                        <p class="card-text text-center ml-2">Levie Anne Mariñas</p>
                                        <small class="text-center float-right" style="text-transform: uppercase;">
                                          Captain  
                                        </small>
                                      </label>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="editTeamChiefEng team-item mr-3 ml-3">
                            <div class="row">
                              <div class="col-auto">
                                <div class="card bg-info">
                                  <div class="card-body">
                                    <div class="custom-control custom-checkbox custom-control-inline">
                                      <input type="checkbox" id="editCheckCE1" class="custom-control-input">
                                      <label class="custom-control-label" for="editCheckCE1">
                                        <p class="card-text text-center ml-2">John Carlos Pagaduan</p>
                                        <small class="text-center float-right" style="text-transform: uppercase;">
                                          Chief Engineer  
                                        </small>
                                      </label>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="editTeamCrew team-item  mr-3 ml-3">
                            <div class="row">
                              <div class="col-auto">
                                <div class="card bg-secondary">
                                  <div class="card-body">
                                    <div class="custom-control custom-checkbox custom-control-inline">
                                      <input type="checkbox" id="editCheckCrew1" class="custom-control-input">
                                      <label class="custom-control-label" for="editCheckCrew1">
                                        <p class="card-text text-center ml-2">Reign Emmanuel Malto</p>
                                        <small class="text-center float-right" style="text-transform: uppercase;">
                                          Crew  
                                        </small>
                                      </label>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col">
                  <div class="card text-center">
                    <div class="card-header">
                      <div class="float-right">
                        <a data-collapse="#editSelectedCard" class="btn btn-icon"><i class="ion ion-minus"></i></a>
                      </div>
                      <h5 class="text-center ml-5">Selected</h5>
                    </div>
                    <div class="collapse show" id="editSelectedCard">
                      <div class="card-body">
                        <div class="row">
                          <div class="col">
                            <div class="card bg-info" id="editDismissCard">
                              <div class="card-header">
                                  John Carlos Pagaduan
                                <div class="float-right">
                                  <a data-dismiss="#editDismissCard" class="btn btn-icon"><i class="ion ion-close"></i></a>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="modal-footer">
              <button type="submit" class="btn btn-primary waves-effect btnEditTeam">Edit</button>
            </div>
          </div>
        </div>
      </div>
    <script src="../dist/modules/jquery.min.js"></script>
    <script src="../dist/modules/tooltip.js"></script>
    <script src="../dist/modules/popper.js"></script>
    <script src="../dist/modules/isotope/masonry.pkgd.min.js"></script>
    <script src="../dist/modules/isotope/isotope.pkgd.min.js"></script>
    <script src="../dist/modules/jquery-ui.min.js"></script>
    <script src="../dist/modules/moment/moment.js"></script>
    <script src="../dist/modules/fullcalendar/fullcalendar.js"></script>
    <script src="../dist/modules/toastr/toastr.js"></script>
    <script src="../dist/modules/sweetalerts/sweetalert.min.js"></script>
    <script src="../dist/modules/waves/waves.js"></script>
    <script src="../dist/modules/nicescroll/jquery.nicescroll.min.js"></script>
    <script src="../dist/modules/scroll-up-bar/dist/scroll-up-bar.min.js"></script>
    <script src="../dist/modules/bootstrap/js/bootstrap.min.js"></script>
    <script src="../dist/js/dispatchHauling.js"></script>
    <script src="../dist/js/scripts.js"></script>
    <script src="../dist/js/demo.js"></script>
</body>
</html>